<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>  
    div.scroll { 
        margin:4px, 4px; 
        padding:4px; 
        background-color: #DCDCDC; 
        width: 400px; 
        height: 700px; 
        overflow-x: hidden; 
        overflow-x: auto; 
        text-align:justify; 
    } 
</style> 

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h1>PDF</h1>>
                <embed src="../static/{{filename}}" type="application/pdf" width="100%" height="600px" />
            </div>
            <div class="col-sm-3">
                <div class="scroll">
                    <h1>Questions</h1>>
                    {% for page in questions_page_wise%}
                    <p>
                        <ul>
                            {% for question in page.fill_ups %}
                                <li>
                                    Question - {{question.question}}
                                    <br/>
                                    Answer - {{question.answer}}
                                    <br/><br/>
                                </li>
                            {% endfor %}
                        </ul>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
