<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
        .notice{
            font-size:1rem;
        }

        @media screen and (max-width:500px){
            .notice{
                font-size:0.9rem;
            }
        }

        #grad1 {
        height: 200px;
        background-color: rgb(56, 36, 235); /* For browsers that do not support gradients */
        background-image: linear-gradient(to left, rgb(23, 34, 192) , rgb(28, 189, 218)); /* Standard syntax (must be last) */
}
    </style>

</head>

<body id = "grad1">
  <div class="container">
    <div class="row justify-content-center" style="margin-top:10%"> 
      <h1 align="center" class="h1 text-monospace">READ-EX</h1>
    </div>
    <div class="row" style="margin-top:5%">
        <div class="col-sm">

            <form class="md-form" action="https://readex-major-project.herokuapp.com/show_doc/" method="post" enctype="multipart/form-data">
                <div class="form-group input-group mb-3" style="margin-bottom:10%;">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" name="file">
                    <label class="custom-file-label" for="filename" aria-describedby="inputGroupFileAddon02">Upload Document</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <form class="md-form" action="https://readex-major-project.herokuapp.com/read_pdf/" method="post" enctype="multipart/form-data">     
                <div class="form-group input-group mb-3" style="margin-top:5%">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" name="file">
                    <label class="custom-file-label" for="filename" aria-describedby="inputGroupFileAddon02">Upload PDF</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <form class="md-form" action="https://readex-major-project.herokuapp.com/link_view/" method="post" enctype="multipart/form-data">    
                <div class="form-group" style="margin-top:5%">
                    <input type="text" class="form-control" name = "link" id = "link" aria-describedby="emailHelp" placeholder="Enter Link">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
      </div>
  
    </div>
</body>

</html>