<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Welcome</h1>
  <div class="container-fluid">
    
      <div class="row">
        <form action="https://readex-major-project.herokuapp.com/show_doc/" method="post" enctype="multipart/form-data">
            Select a document to upload:
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload Document" name="submit">
        </form>
      </div>

      <div class="row">
        <form action="https://readex-major-project.herokuapp.com/read_pdf/" method="post" enctype="multipart/form-data">
            Select a PDF to upload:
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload PDF" name="submit">
        </form>
      </div>

      <div class="row">
        <form action="https://readex-major-project.herokuapp.com/link_view/" method="post" enctype="multipart/form-data">
            Enter a link:
            <input type="text" name="link" id="link">
            <input type="submit" value="Open Link" name="submit">
        </form>
      </div>

  </div>
</div>

</body>
</html>